body {
  background-color: #FFF;
}

h1  {
  color: #000;
}

div#test01 {
  color: #00a;
}

.important {
  color: #a00;
}

.el{
  color:#00a;
}

.ol{
  color: #a00;
}

.last3{
  font-weight: bold;
}

.name{
  text-align: center;
}
